    {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}

    <!-- Search button -->
            <li>
              <button type="button" data-toggle="modal" data-target="#search" class="btn btn-default navbar-btn">
                <span class="fa fa-search"></span>
              </button>
            </li>

    <!-- Search dialog -->
                <div class="modal fade" id="search" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">

                <div class="modal-body">
                        <form class="navbar-form " role="search">
                          <div class="form-group">
                            <input type="text" id="search-field" class="navbar-form" placeholder="Start typing to search">
                          </div>
                        </form>

                        <section class="search-results" >
                                <ul id="search-results" class="search-results"></ul>
                        </section>

                        <script>
                           var searchField = $("#search-field").ghostHunter({
                                               results     : "#results",
                                               rss         : "rss.xml",
                                               //Enable the "search as you type" by uncommenting the following line
                                               onKeyUp   : true
                                               zeroResultsInfo: false
                                               onpageload: true
                                               includepages: true
                                             });

                           function clearResults() {
                             searchField.clear();
                           }
                         </script>

                    </div>
